In [1]:
#1 a.
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [2]:
#1 b.
for i in range (1,6):
    num=str(i)
    print(num*i)

1
22
333
4444
55555

In [3]:
#1 c.
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
#1 d. 
n=2
for i in range (5):
    num=n
    for j in range(i+1):
        print(num,end=' ')
        num+=1
    print()
    n+=1

2
3 4
4 5 6
5 6 7 8
6 7 8 9 10

In [5]:
#1 e 
n = 5
for i in range(1, n+1):
    for j in range(i):
        if j % 2 == 0:
            print("1", end="")
        else:
            print("0", end="")
    print()

1
10
101
1010
10101

In [6]:
#1 f.
rows = 5

start_num = 1
num = start_num

for i in range(rows):
    for j in range(i+1):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
#1 g.
rows = 5

start_num = 5

for i in range(rows):
    num = start_num
    for j in range(i + 1):
        print(num, end=" ")
        num -= 1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [8]:
#1 h.
rows = 5

for i in range(rows):
    num = rows - i
    for j in range(i + 1):
        print(num, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [9]:
#1 i.
rows = 5

for i in range(rows, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [10]:
#1 j
rows = 5

for i in range(1, rows + 1):
    for j in range(rows - i + 1):
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [11]:
#1 k
rows = 5

for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [12]:
#1 l
rows = 5

start_num = 5

for i in range(rows, 0, -1):
    for j in range(i):
        print(start_num, end=" ")
    print()
    start_num -= 1

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [13]:
#1 m
rows = 5

for i in range(rows, 0, -1):
    for j in range(rows, rows - i, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [14]:
#2 r
rows = 5

for i in range(0, rows):
    for j in range(0, rows-i-1):
        print(" ", end="")
    for k in range(0, i+1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
#2 s
rows = 5

for i in range(1, rows+1):
    for j in range(rows-i, 0, -1):
        print(" ", end="")
    for k in range(1, i*2):
        print(i, end="")
    print()

    1
   222
  33333
 4444444
555555555

In [16]:
#2 t
rows = 5

for i in range(1, rows+1):
    for j in range(rows-i, 0, -1):
        print(" ", end="")
    for k in range(1, i*2):
        print(k, end="")
    print()

    1
   123
  12345
 1234567
123456789

In [17]:
#3 
rows = int(input("Enter the number of rows: "))
k = 2 * rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

Enter the number of rows: 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [18]:
rows = [1, 222, 33333, 4444444, 555555555]

for row in reversed(rows):
    pattern = str(row)
    print(pattern)

555555555
4444444
33333
222
1

In [ ]:
rows = [1, 232, 34543, 4567654, 567898765]

for row in reversed(rows):
    pattern = ''
    for i in range(1, row + 1, 2):
        pattern += str(i)
    print(pattern)